---
import type { InferGetStaticPropsType, GetStaticPaths } from 'astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { getShortUrl, KOFI_URL } from '~/utils/permalinks';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';
// import PostTags from "~/components/blog/Tags.astro";

import { blogListRobots, getStaticPathsBlogList } from '~/utils/blog';

export const prerender = true;

export const getStaticPaths = (async ({ paginate }) => {
  return await getStaticPathsBlogList({ paginate });
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { page } = Astro.props as Props;
const currentPage = page.currentPage ?? 1;

// const allCategories = await findCategories();
// const allTags = await findTags();

const metadata = {
  title: `Blog${currentPage > 1 ? ` — Page ${currentPage}` : ''}`,
  robots: {
    index: blogListRobots?.index && currentPage === 1,
    follow: blogListRobots?.follow,
  },
  openGraph: {
    type: 'blog',
  },
};
---

<Layout metadata={metadata}>
  <section class="mx-auto max-w-4xl px-6 py-12 sm:px-6 sm:py-16 lg:py-20">
    <Headline
      subtitle="Discover news, tutorials, resources, and other interesting content related to technology and more."
    >
      Explore Vikshan's Blog
    </Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
    <!--
      <PostTags tags={allCategories} class="mb-2" title="Search by Categories:" isCategory />
      <PostTags tags={allTags}  title="Search by Tags:" />
    -->
  </section>
  <CallToAction
    actions={[
      {
        variant: 'yt',
        text: 'Subscribe Now',
        href: getShortUrl('youtube'),
        target: '_blank',
        icon: 'tabler:brand-youtube',
      },
      {
        variant: 'secondary',
        text: 'Support Me on Ko-fi',
        href: KOFI_URL,
        target: '_blank',
        icon: 'tabler:coffee',
      },
    ]}
  >
    <Fragment slot="title">
      Vikshan's Tech Universe<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"
      ></span>
    </Fragment>

    <Fragment slot="subtitle">
      Join the tech adventure and stay updated with the latest in technology! <br
        class="hidden md:inline"
      /> Don't miss out on the latest exciting tech unboxing and reviews! :P
    </Fragment>
  </CallToAction>
</Layout>
